.navbar {
    background-image: linear-gradient(135deg, #4b79dd, #70d6f0);
}

.nome-marca{
    font-family:'Franklin Gothic Medium';
}
  
.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-image: linear-gradient(135deg, #70d6f0, #4b79dd);
    margin-bottom: 60px;
}

.centralizar-pag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    max-width: 800px;
    text-align: center;
}
  
.destaque {
    color: azure;
}
  
.carousel-inner {
    max-height: 500px;
}
  
.carousel-item img {
    max-height: 500px;
    margin: auto;
}
  

@media (min-width: 576px) {
    
    .card {
      margin: 10px; 
    }
  }
  
  @media (min-width: 768px) {
    
    .card {
      margin: 15px; 
    }
  }
  
  @media (min-width: 992px) {
    
    .card {
      margin: 20px; 
    }
  }
  
  @media (min-width: 1200px) {
    
    .card {
      margin: 30px; 
    }
  }
  
.card-img-top {
    height: 200px; 
    object-fit: cover;
}


.pacote-descricao {
        font-size: 14px;
        color: #555;
}
    
.pacote-preco-antigo {
        font-size: 12px;
        color: #999;
        text-decoration: line-through;
}
    
.pacote-preco-atual {
        font-size: 18px;
        color: rgb(3, 139, 9);
        font-weight: bold;
}


.container-form {
    margin-top: 30px;
    background-image: linear-gradient(135deg, #70d6f0, #4b79dd);
}

.container-form .form-control {
    width: 100%;   
}

.container-form .btn-primary {
    width: 100%;
    
}

.container-form .form-row {
    justify-content: center;
    
}

.container-form .col-md-4 {
    margin-bottom: 20px;
}

.card-image {
    height: 600px; 
}

.card-custom {
    
    text-shadow:0 0 3px #0e0d0d , 0 0 2px #121213;
}
  
footer {
    background-color: #FAC102;
    color: white;
    padding: 20px 0;
    text-align: center;
}
  

.ftco-footer-social .icon {
    font-size: 24px;
}


.ftco-footer a {
    color: white; 
}



